! ------------------------------------------------------------------------------
! ROFI  color theme
! ------------------------------------------------------------------------------

rofi.color-enabled: true
rofi.color-window: #161b21, #0E1014, #dce1e4
rofi.color-normal: argb:00000000, #d8dee9, argb:00000000, #0088CC, #ffffff
rofi.color-active: argb:00000000, #c8dad6, argb:00070708, #18141b, #74d9d7
rofi.color-urgent: argb:00000000, #0088CC, argb:00000000, #18141b, #9c86fb
rofi.separator-style:  solid
rofi.hide-scrollbar:   true
rofi.bw:               0
rofi.columns:          9
rofi.lines:            1
rofi.padding:          0
rofi.width:            100
rofi.location:         1
rofi.font:             Dejavu Sans Mono 10
